.deletelogout{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.bookingitems{
    display:flex;
    justify-content: space-between
}
#feed{
    width: 100%;
    height: 400px;
}